<div class="container">
        <form class="mt-60" [formGroup]="form" (ngSubmit)="salvar()">
            <mat-card>

                <mat-card-header>
                    <mat-card-title>Dados Pessoais</mat-card-title>
                </mat-card-header>


                <mat-card-content class="mt-20 form-grid">

                        <mat-form-field  class="full-row">
                            <mat-label>Nome: </mat-label>
                            <input matInput formControlName="nome" placeholder="Ex. Ygor Carvalho">
                        </mat-form-field>

                        <mat-form-field >
                            <mat-label>Email: </mat-label>

                            <input type="email" 
                            matInput 
                            placeholder="Ex. pat@example.com" 
                            formControlName="email">

                        @if (form.get('email')?.touched && form.get('email')?.hasError('required')) {
                        <mat-error>E-mail é obrigatório</mat-error>
                        }
                        
                        @if (form.get('email')?.touched && form.get('email')?.hasError('email')) {
                        <mat-error>Informe um e-mail válido</mat-error>
                        }
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label>CPF: </mat-label>
                            <input placeholder="Ex. 123.456.678-90" matInput formControlName="cpf" >
                        </mat-form-field>

                
                        <mat-form-field >
                            <mat-label>Telefone: </mat-label>
                            <input type="tel" matInput formControlName="telefone" >
                        </mat-form-field>

                    <mat-form-field>
                        <mat-select formControlName="sexo">
                            <mat-option value="nao-declarado">Não declarar</mat-option>
                            <mat-option value="masculino">Masculino</mat-option>
                            <mat-option value="feminino">Feminino</mat-option>
                        </mat-select>
                        <mat-label>Sexo:</mat-label>
                    </mat-form-field>

                        <mat-form-field>
                            <mat-label>Data de Nascimento: </mat-label>
                            <input type="date" matInput formControlName="nascimento" >
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label>CEP: </mat-label>
                            <input matInput formControlName="cep" >
                        </mat-form-field>

                        <mat-form-field class="full-row">
                            <mat-label>Endereço: </mat-label>
                            <input matInput formControlName="endereco" >
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label>Número: </mat-label>
                            <input matInput formControlName="numero" >
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label>Complemento: </mat-label>
                            <input matInput formControlName="complemento" >
                        </mat-form-field>

                        <mat-form-field >
                            <mat-label>Cidade: </mat-label>
                            <input matInput formControlName="cidade" >
                        </mat-form-field>

                        <mat-form-field >
                            <mat-label>Estado: </mat-label>
                            <input matInput formControlName="estado" >
                        </mat-form-field>

                        <button type="submit" matButton="filled" class="full-row" [disabled]="form.invalid" >Cadastrar</button>
                        <button type="button" matButton="outlined" class="full-row">Cancelar</button>

                        
                </mat-card-content>

            </mat-card>
        </form></div>